@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*html>

    <div id="container">

    <header class="main-header" style="margin-bottom:1px; background-color:#222222">
    	<!-- Header Top -->
			<div class="header-top">
        	
            	
                    
                  
                    
                    <!--Top Right-->
                    <div class="top-left">
                            <!--Logo Box-->
                    <div class="logo-box">
 <div class="logo"><a href="index-2.html"><img src="~/assets/Images/logo.gif"   style="width:100; height:100;" alt="" ></a></div>
                    </div>
                    
                    	<!--social-icon-->
                       
                        
                    </div>
                     
               
           
			</div><!-- Header Top End -->
        
        
       
    	
    
    </header>
        <div id="body" style="display:block; background-color:red;">

        </div>
      

             <div id="footer">
                <footer class="main-footer"> 
                 <div class="container" style="padding-left:272px;"> 
                    <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>  
                    <strong>Copyright &copy;IISc| Design and Developed By &nbsp<a href="http://www.taurusonline.net">THSSPL</a>.</strong>  
                 </div> 
              </footer>  </div>

       
        </div>
</html>*@