@Model EIMS1A.Models.Login

@{
    ViewBag.Title = "view page";
}

<h2>view page</h2>
<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Adminpage - Responsive Bootstrap Admin Template Dashboard</title>

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="~/template/assets/dist/img/ico/favicon.png" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="~/template/assets/dist/img/ico/apple-touch-icon-57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/template/assets/dist/img/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/template/assets/dist/img/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/template/assets/dist/img/ico/apple-touch-icon-144-precomposed.png">

        <!-- Start Global Mandatory Style
        =====================================================================-->
        <link href="~/template/assets/dist/css/base.css" rel="stylesheet" type="text/css"/>
        <!-- End Global Mandatory Style
        =====================================================================-->
        <!-- Start page Label Plugins 
        =====================================================================-->
        <!-- Toastr css -->
        <link href="~/template/assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
        <!-- Emojionearea -->
        <link href="~/template/assets/plugins/emojionearea/emojionearea.min.css" rel="stylesheet" type="text/css" />
        <!-- Monthly css -->
        <link href="~/template/assets/plugins/monthly/monthly.min.css" rel="stylesheet" type="text/css"/>
        <!-- amchat css -->
        <link href="~/template/assets/plugins/amcharts/export.css" rel="stylesheet" type="text/css" />
        <!-- End page Label Plugins 
        =====================================================================-->
        <!-- Start Theme Layout Style
        =====================================================================-->
        <!-- Theme style -->
        <link href="~/template/assets/dist/css/component_ui.min.css" rel="stylesheet" type="text/css"/>
        <!-- Theme style rtl -->
        <!--<link href="assets/dist/css/component_ui_rtl.css" rel="stylesheet" type="text/css"/>-->
        <!-- Custom css -->
        <link href="~/template/assets/dist/css/custom.css" rel="stylesheet" type="text/css"/>
        <!-- End Theme Layout Style
        =====================================================================-->
    </head>
    <body>
        <div class="wrapper animsition">
            <!-- main header -->
            <header class="main-header">
                <!-- top navigation -->
                <nav class="navbar top-nav">
                    <!-- <div class="container"> -->
                        <!-- <div class="navbar-header hidden-xs"> -->
                            <!-- <a class="navbar-brand" href="index.html"> <img src="assets/dist/img/logo.png" alt=""></a> -->
                        <!-- </div> -->
                        <!-- Start Atribute Navigation -->
                        <!-- <div class="attr-nav"> -->
                            <!-- <ul> -->
                                <!-- <li class="dropdown"> -->
                                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
                                        <!-- <i class="ti-shopping-cart-full"></i> -->
                                        <!-- <span class="badge">3</span> -->
                                    <!-- </a> -->
                                    <!-- <ul class="dropdown-menu cart-list"> -->
                                        <!-- <li> -->
                                            <!-- <a href="#" class="photo"><img src="assets/dist/img/cart-1.jpg" class="cart-thumb" alt="" /></a> -->
                                            <!-- <h5><a href="#">Smartphone RAM 4 GB New</a></h5> -->
                                            <!-- <p>2x - <span class="price">$99.99</span></p> -->
                                        <!-- </li> -->
                                        <!-- <li> -->
                                            <!-- <a href="#" class="photo"><img src="assets/dist/img/cart-2.jpg" class="cart-thumb" alt="" /></a> -->
                                            <!-- <h5><a href="#">Fujifilm INSTAX Mini 8</a></h5> -->
                                            <!-- <p>1x - <span class="price">$33.33</span></p> -->
                                        <!-- </li> -->
                                        <!-- <li> -->
                                            <!-- <a href="#" class="photo"><img src="assets/dist/img/cart-3.jpg" class="cart-thumb" alt="" /></a> -->
                                            <!-- <h5><a href="#">Beats On-Ear Headphones</a></h5> -->
                                            <!-- <p>2x - <span class="price">$99.99</span></p> -->
                                        <!-- </li> -->
                                        <!-- <li class="total"> -->
                                            <!-- <span class="pull-right"><strong>Total</strong>: $0.00</span> -->
                                            <!-- <a href="#" class="btn btn-default btn-cart">Cart</a> -->
                                        <!-- </li> -->
                                    <!-- </ul> -->
                                <!-- </li> -->
                                <!-- <li class="search"><a href="#"><i class="ti-search"></i></a></li> -->
                                <!-- <li class="side-menu"><a href="#"><i class="ti-align-left"></i></a></li> -->
                            <!-- </ul> -->
                        <!-- </div> -->
                        <!-- End Atribute Navigation -->
                        <!-- /.navbar-header -->
                        <!-- <ul class="nav navbar-top-links navbar-right"> -->
                            <!-- <li class="dropdown"> -->
                                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> -->
                                    <!-- <i class="dropdowm-icon ti-email"></i> -->
                                    <!-- <span class="label label-success">4</span> -->
                                <!-- </a> -->
                                <!-- <ul class="dropdown-menu dropdown-messages"> -->
                                    <!-- <li class="rad-dropmenu-header"><a href="#">New Messages</a></li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#" class="rad-content"> -->
                                            <!-- <div class="inbox-item"> -->
                                                <!-- <div class="inbox-item-img"><img src="assets/dist/img/avatar.png" class="img-circle" alt=""></div> -->
                                                <!-- <strong class="inbox-item-author">Naeem Khan</strong> -->
                                                <!-- <span class="inbox-item-date">-13:40 PM</span> -->
                                                <!-- <p class="inbox-item-text">Hey! there I'm available...</p> -->
                                                <!-- <span class="profile-status available pull-right"></span> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#" class="rad-content"> -->
                                            <!-- <div class="inbox-item"> -->
                                                <!-- <div class="inbox-item-img"><img src="assets/dist/img/avatar2.png" class="img-circle" alt=""></div> -->
                                                <!-- <strong class="inbox-item-author">Sala Uddin</strong> -->
                                                <!-- <span class="inbox-item-date">-13:40 PM</span> -->
                                                <!-- <p class="inbox-item-text">Hey! there I'm available...</p> -->
                                                <!-- <span class="profile-status away pull-right"></span> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#" class="rad-content"> -->
                                            <!-- <div class="inbox-item"> -->
                                                <!-- <div class="inbox-item-img"><img src="assets/dist/img/avatar3.png" class="img-circle" alt=""></div> -->
                                                <!-- <strong class="inbox-item-author">Mozammel</strong> -->
                                                <!-- <span class="inbox-item-date">-13:40 PM</span> -->
                                                <!-- <p class="inbox-item-text">Hey! there I'm available...</p> -->
                                                <!-- <span class="profile-status busy pull-right"></span> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#" class="rad-content"> -->
                                            <!-- <div class="inbox-item"> -->
                                                <!-- <div class="inbox-item-img"><img src="assets/dist/img/avatar4.png" class="img-circle" alt=""></div> -->
                                                <!-- <strong class="inbox-item-author">Tanzil Ahmed</strong> -->
                                                <!-- <span class="inbox-item-date">-13:40 PM</span> -->
                                                <!-- <p class="inbox-item-text">Hey! there I'm available...</p> -->
                                                <!-- <span class="profile-status offline pull-right"></span> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li class="rad-dropmenu-footer"><a href="#">View All messages</a></li> -->
                                <!-- </ul> -->
                                <!-- <!-- /.dropdown-messages --> 
                            <!-- </li> -->
                            <!-- <!-- /.dropdown --> 
                            <!-- <li class="dropdown"> -->
                                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> -->
                                    <!-- <i class="dropdowm-icon ti-flag-alt"></i> -->
                                    <!-- <span class="label label-danger">9</span> -->
                                <!-- </a> -->
                                <!-- <ul class="dropdown-menu dropdown-tasks"> -->
                                    <!-- <li class="rad-dropmenu-header"><a  href="#">Your Task</a></li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#"> -->
                                            <!-- <div> -->
                                                <!-- <p> -->
                                                    <!-- <strong>Task 1</strong> -->
                                                    <!-- <span class="pull-right sm-text">40% Complete</span> -->
                                                <!-- </p> -->
                                                <!-- <div class="progress progress-striped active"> -->
                                                    <!-- <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> -->
                                                        <!-- <span class="sr-only">40% Complete (success)</span> -->
                                                    <!-- </div> -->
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#"> -->
                                            <!-- <div> -->
                                                <!-- <p> -->
                                                    <!-- <strong>Task 2</strong> -->
                                                    <!-- <span class="pull-right sm-text">20% Complete</span> -->
                                                <!-- </p> -->
                                                <!-- <div class="progress progress-striped active"> -->
                                                    <!-- <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> -->
                                                        <!-- <span class="sr-only">20% Complete</span> -->
                                                    <!-- </div> -->
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#"> -->
                                            <!-- <div> -->
                                                <!-- <p> -->
                                                    <!-- <strong>Task 3</strong> -->
                                                    <!-- <span class="pull-right sm-text">60% Complete</span> -->
                                                <!-- </p> -->
                                                <!-- <div class="progress progress-striped active"> -->
                                                    <!-- <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> -->
                                                        <!-- <span class="sr-only">60% Complete (warning)</span> -->
                                                    <!-- </div> -->
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a href="#"> -->
                                            <!-- <div> -->
                                                <!-- <p> -->
                                                    <!-- <strong>Task 4</strong> -->
                                                    <!-- <span class="pull-right sm-text">80% Complete</span> -->
                                                <!-- </p> -->
                                                <!-- <div class="progress progress-striped active"> -->
                                                    <!-- <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> -->
                                                        <!-- <span class="sr-only">80% Complete (danger)</span> -->
                                                    <!-- </div> -->
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li class="rad-dropmenu-footer"><a href="#">See All Tasks</a></li> -->
                                <!-- </ul> -->
                                <!-- <!-- /.dropdown-tasks --> 
                            <!-- </li> -->
                            <!-- <!-- /.dropdown --> 
                            <!-- <li class="dropdown"> -->
                                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> -->
                                    <!-- <i class="dropdowm-icon ti-announcement"></i> -->
                                    <!-- <span class="label label-warning">8</span> -->
                                <!-- </a> -->
                                <!-- <ul class="dropdown-menu dropdown-notification"> -->
                                    <!-- <li class="rad-dropmenu-header"><a href="#">Your Notifications</a></li> -->
                                    <!-- <li> -->
                                        <!-- <a class="rad-content" href="#"> -->
                                            <!-- <div class="pull-left"><i class="fa fa-html5 fa-2x color-red"></i> -->
                                            <!-- </div> -->
                                            <!-- <div class="rad-notification-body"> -->
                                                <!-- <div class="lg-text">Introduction to fetch()</div> -->
                                                <!-- <div class="sm-text">The fetch API</div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a class="rad-content" href="#"> -->
                                            <!-- <div class="pull-left"><i class="fa fa-bitbucket fa-2x color-violet"></i> -->
                                            <!-- </div> -->
                                            <!-- <div class="rad-notification-body"> -->
                                                <!-- <div class="lg-text">Check your BitBucket</div> -->
                                                <!-- <div class="sm-text">Last Chance</div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a class="rad-content" href="#"> -->
                                            <!-- <div class="pull-left"><i class="fa fa-google fa-2x color-info"></i> -->
                                            <!-- </div> -->
                                            <!-- <div class="rad-notification-body"> -->
                                                <!-- <div class="lg-text">Google Account</div> -->
                                                <!-- <div class="sm-text"><span class="__cf_email__" data-cfemail="f99c81989489959cb99e94989095d79a9694">[email&#160;protected]</span></div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li> -->
                                        <!-- <a class="rad-content" href="#"> -->
                                            <!-- <div class="pull-left"><i class="fa fa-amazon fa-2x color-green"></i> -->
                                            <!-- </div> -->
                                            <!-- <div class="rad-notification-body"> -->
                                                <!-- <div class="lg-text">Amazon Simple Notification ...</div> -->
                                                <!-- <div class="sm-text">Lorem Ipsum is simply dummy text...</div> -->
                                            <!-- </div> -->
                                        <!-- </a> -->
                                    <!-- </li> -->
                                    <!-- <li class="rad-dropmenu-footer"><a href="#">See all notifications</a></li> -->
                                <!-- </ul>  <!-- /.dropdown-alerts --> 
                            <!-- </li> -->
                            <!-- <!-- /.dropdown --> 
                            <!-- <li class="dropdown"> -->
                                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"> -->
                                    <!-- <i class="dropdowm-icon ti-settings"></i> -->
                                <!-- </a> -->
                                <!-- <ul class="dropdown-menu dropdown-user"> -->
                                    <!-- <li><a href="profile.html"><i class="ti-user"></i>&nbsp; Profile</a></li> -->
                                    <!-- <li><a href="mailbox.html"><i class="ti-email"></i>&nbsp; My Messages</a></li> -->
                                    <!-- <li><a href="lockscreen.html"><i class="ti-lock"></i>&nbsp; Lock Screen</a></li> -->
                                    <!-- <li><a href="#"><i class="ti-settings"></i>&nbsp; Settings</a></li> -->
                                    <!-- <li><a href="login.html"><i class="ti-layout-sidebar-left"></i>&nbsp; Logout</a></li> -->
                                <!-- </ul> -->
                                <!-- <!-- /.dropdown-user -->
                            <!-- </li> <!-- /.dropdown --> 
                        <!-- </ul> <!-- /.navbar-top-links --> 
                    <!-- </div> <!-- /. container --> 
                </nav> <!-- /. top navigation -->
                <!--  main navigation -->
                <nav class="navbar navbar-default navbar-mobile navbar-sticky bootsnav">
                    <!-- Start Top Search -->
                    <div class="top-search">
                        <div class="container">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-addon close-search"><i class="ti-close"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Top Search -->
                    <div class="container">
                        <!-- Start Header Navigation -->
                        <!-- <div class="navbar-header"> -->
                            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> -->
                                <!-- <i class="fa fa-bars"></i> -->
                            <!-- </button> -->
                            <!-- <a class="navbar-brand hidden-md hidden-lg" href="#brand"><img src="assets/dist/img/logo2.png" class="logo" alt=""></a> -->
                        <!-- </div> -->
                        <!-- End Header Navigation -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav navbar-left" data-in="" data-out="">
                                <!-- <li class="active"><a href="index.html"><i class="ti-home"></i> Dasboard</a></li> -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Employee Info</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="#"></i>Employee Information</a></li>
                                        <li><a href="#"><i class="#"></i>Employee Previous And Current Details</a></li>
                                        <li><a href="#"><i class="#"></i>Employee Modification</a></li>
                                        <!-- <li><a href="tree-view.html"><i class="fa fa-tree"></i>Employee Edit</a></li> -->
										<li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employee Edit</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Employee Name</a></li>
                                                        
                                                    </ul>
                                                </li>
                                        <li><a href="#"><i class="#"></i>Payscale Modification</a></li>
                                        <li><a href="#"><i class="#"></i>Promotion Details Edit</a></li>
                                        <li><a href="#"><i class="#"></i>Change Password</a></li>
                                        <li><a href="#"><i class="#"></i>SR.No Entry</a></li>
                                        <li><a href="#"><i class="#"></i>Contract Extend Details</a></li>
                                        <li><a href="#"><i class="#"></i>Probation Period Request</a></li>
                                        
                                    </ul>
                                </li>
								<li class="dropdown">
                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i>Recruitment</a>
                                    <ul class="dropdown-menu">
									<li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advertisement</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Rolling Advertisement</a></li>
                                                        <li><a href="#">Issue of Advertisement</a></li>
                                                        
                                                    </ul>
                                                </li>
                              
                                        <li class="dropdown">
                                            <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Recruitment Process</a>
                                            <ul class="dropdown-menu">
                                                
												 <li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Rolling Advertisement</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Application Entry</a></li>
                                                        <li><a href="#">Guide Sheet</a></li>
                                                        <li><a href="#">Selection Commite</a></li>
														<li><a href="#">Members Inviting </a></li>
                                                        <li><a href="#">Members List Letter</a></li>
														<li><a href="#">Candidate Shortlist</a></li>
														 <li><a href="#">Interview Letter</a></li>
														  
														   <li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Candidate List</a></li>
                                                        <li><a href="#">Candidate List Without Address</a></li>
                                                        <li><a href="#">Attendance Sheet</a></li>
                                                        <li><a href="#">Appointment Letter List</a></li>
														 <li><a href="#">Joined Case List</a></li>
														  <li><a href="#">Declained Appointment List</a></li>
														   <li><a href="#">SC/ST/OBC List</a></li>
														   <li><a href="#">Male-Female List</a></li>
                                                    </ul>
                                                </li>
												 <li><a href="404.html">Agenda</a></li>
														   <li><a href="#">Appointment Letters</a></li>
														   <li><a href="#">Joining Post/Memo Notification</a></li>
														   <li><a href="#">Probation/Extension</a></li>
                                                    </ul>
                                                </li>
                                                
												<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Issue of Advt. Process</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Application Entry</a></li>
                                                        <li><a href="#">Guide Sheet</a></li>
                                                        <li><a href="#">Selection Commite</a></li>
                                                        <li><a href="#">Members Inviting</a></li>
														<li><a href="#">Members List Letter</a></li>
														<li><a href="#">Candidate Shortlist</a></li>
														<li><a href="#">Interview Letter</a></li>
														<li><a href="#">Reports</a></li>
														<li><a href="#">Agenda</a></li>
														<li><a href="#">Appointment Letters</a></li>
														<li><a href="#">Joining Post/Memo Notification</a></li>
														<li><a href="#">Probation/Extension</a></li>
                                                    </ul>
                                                </li>
											
                                                <li><a href="#">Issue of Advertisement Process</a></li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Service Registry</a>
                                    <ul class="dropdown-menu">
                                       
										<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">New Employee Registration</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">DOJ Memo</a></li>
                                                        <li><a href="#">DOJ Memo Verification</a></li>
                                                        <li><a href="#">Employee Verification</a></li>
                                                        <li><a href="#">New Employee Verification</a></li>
														
                                                    </ul>
                                                </li>
                                        <li><a href="#"><i class="#"></i>Employee status</a></li>
                                        <li><a href="#"><i class="#"></i>Service Register</a></li>
                                        <li><a href="#"><i class="#"></i>Seniority Setup List</a></li>
                                        <li><a href="#"><i class="#"></i>Dependent Details Add/Edit</a></li>
                                        <li><a href="#l"><i class="#"></i>Change Personal Details</a></li>
                                        <li><a href="#"><i class="#"></i>Education Details</a></li>
                                        <li><a href="#"><i class="#"></i>Passport Application Form</a></li>
                                        <li><a href="#"><i class="#"></i>Service Application Form</a></li>
                                        <li><a href="#"><i class="#"></i>Pay Fixation</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-layout"></i> Levae</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="table.html"><i class="#"></i>Leave Balance Entry</a></li>
                                        <li><a href="dataTables.html"><i class="ti-layout-tab-window"></i>Leave Balance Edit</a></li>
										<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Child Care Leave</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">CCL Entry</a></li>
                                                        <li><a href="#">CCL Request</a></li>
                                                        <li><a href="#">CCL Process</a></li>
                                                        <li><a href="#">CCL Reports</a></li>
														
                                                    </ul>
                                                </li>
                                        <li><a href="#"><i class="ti-layout-width-default"></i>Bio Data</a></li>
                                       
										 
										<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Leave Crediting</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Vacaton Statments</a></li>
                                                        <li><a href="#">Faculty/Scientific Staff</a></li>
                                                        <li><a href="#">Non Faculty</a></li>
                                                        <li><a href="#">View Vacation Availed</a></li>
														
                                                    </ul>
                                                </li>
												<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Leave Debit</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Leave Request</a></li>
                                                        <li><a href="#">Leave Process</a></li>
                                                        
														
                                                    </ul>
                                                </li>
												<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Visit Abroad Request</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Request</a></li>
                                                        <li><a href="#">Leave Process</a></li>
                                                        <li><a href="#">Processed Leave</a></li>
                                                        <li><a href="#">Approved Issues</a></li>
														
                                                    </ul>
                                                </li>
												 <li><a href="#"><i class="ti-layout-width-default"></i>Modifiy Visit Abroad</a></li>
												  <li><a href="#"><i class="ti-layout-width-default"></i>Reports</a></li>
												   <li><a href="#"><i class="ti-layout-width-default"></i>Holiday List Entry</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> LTC/HTC</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="#"></i>LTC Details</a></li>
                                        <li><a href="#"><i class="#"></i>LTC Bill</a></li>
                                        <li><a href="#"><i class="#"></i>LTC/Medical Fecility Certificate</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i>Increment</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Process Current Month Increment</a></li>
                                        <li><a href="#">Process Current Month Increment-P6</a></li>
										 <li><a href="#">Finalised Increment</a></li>
										  <li><a href="#">Pending Increments</a></li>
										   <li><a href="#">Process Status</a></li>
										    <li><a href="#">Reports</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> MBF</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Disciplinary</a>
                                    <ul class="dropdown-menu">
									<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">New</a></li>
									<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Review</a></li>
									 </ul>
                                </li>
                                         <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Quarters Allotment</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
								
                                  
                                
								<li class="dropdown">
                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown"><i class="ti-angle-down"></i>Promotion</a>
                                    <ul class="dropdown-menu">
									<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">New Process</a>
													 <ul class="dropdown-menu">
                                                       
														<li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evaluation</a>
													 <ul class="dropdown-menu">
													 <li class="dropdown">
													 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academic</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">Asst.Prof-Assoc.Prof</a></li>
                                                        <li><a href="#">Assoc.Prof-Professor</a></li>
														
                                                        
                                                    </ul>
													 </li>
                                                         <li class="dropdown">
													 <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Scientific</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">SOII-SOI</a></li>
                                                        <li><a href="#">SOI-SSO</a></li>
														 <li><a href="#">SSO-PRS</a></li>
														
                                                        
                                                    </ul>
													 </li>
													  <li class="dropdown">
													 <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Technical</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">TOI-TOII</a></li>
                                                        <li><a href="#">TOII-TOIII</a></li>
														
                                                        
                                                    </ul>
													 </li>
                                                        
                                                        
                                                    </ul>
													</li>
                                                        <li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Report after Terminal scale</a>
													 <ul class="dropdown-menu">
													  <li class="dropdown">
													 <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Academic</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">Professor</a></li>
                                                        
														
                                                        
                                                    </ul>
													 </li>
													 <li class="dropdown">
													 <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Scientific</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">SOII</a></li>
														 <li><a href="#">PRS</a></li>
                                                        
														
                                                        
                                                    </ul>
													 </li>
                                                        <li class="dropdown">
													 <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Technical</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">TOII</a></li>
														
                                                        
														
                                                        
                                                    </ul>
													 </li>
                                                        
                                                    </ul>
													</li>
													<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Contract Renewal</a></li>
													<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">PB4 renewal</a></li>
													
                                                    </ul>
													
													
													 
                                                </li>
												  <li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Under Process</a>
													 <ul class="dropdown-menu">
													  <li class="dropdown">
													 <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Evaluation</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">Academic</a></li>
														 <li><a href="#">Scientific</a></li>
														  <li><a href="#">Technical</a></li>
                                                        
														
                                                        
                                                    </ul>
													 </li>
													  <li class="dropdown">
													 <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Report after terminal Scale</a>
													 <ul class="dropdown-menu">
                                                        <li><a href="#">Academic</a></li>
														 <li><a href="#">Scientific</a></li>
														  <li><a href="#">Technical</a></li>
                                                        
														
                                                        
                                                    </ul>
													 </li>
													 <li><a href="404.html">Contract Renewal</a></li>
													 </ul>
													 </li>
													<li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Refree List</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">ALL</a></li>
                                                        
                                                        
                                                    </ul>
                                                </li>
												
                               <li><a href="#"><i class="#"></i>Promotion Entry</a></li>
                                        
                                        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Tax Billing</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> IRC</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Guest House</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Complaints</a>
                                    <ul class="dropdown-menu">
									 <li><a href="#">New Complaints</a></li>
								  <li><a href="#">Reminder</a></li>
								  <li><a href="#">Online Complaints</a></li>
									 </ul>
                                </li>
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Retirement</a>
                                    <ul class="dropdown-menu">
									 <li><a href="404.html">Modification</a></li>
									 <li class="dropdown">
                                                    <a href="404.html" class="dropdown-toggle" data-toggle="dropdown">Retirement</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Letter to teaching Staff</a></li>
														<li><a href="#">Office Order to Director</a></li>
														<li><a href="#">Letters</a></li>
                                                        
                                                        
                                                    </ul>
                                                </li>
								  <li><a href="#">Voluntary Retirement</a></li>
								  <li><a href="#">Resignation</a></li>
								  <li><a href="#">Death</a></li>
									 </ul>
                                </li>
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Security</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> Dynamic Report</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
								
								 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="#"></i> User Maintainence</a>
                                    <ul class="dropdown-menu">
									 </ul>
                                </li>
                               
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                   
                </nav> <!-- /. main navigation -->
                <div class="clearfix"></div>
            </header> <!-- /. main header -->
          
                        <div class="row">
						
						<div>
						<img src="assets/Images/image-1.jpg" style="width:100%;" alt="Image-1">
						</div>
						
            <footer class="main-footer">
                <div class="container">
                    <!-- <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div> -->
                    <strong>Copyright &copy; 2016-2017 <a href="#">Thememinister</a>.</strong> All rights reserved. <i class="fa fa-heart color-green"></i>
                </div>
            </footer> <!-- /. footer -->
        </div> <!-- ./wrapper -->
        <!-- jQuery -->
        <script src="../../../../cdn-cgi/scripts/78d64697/cloudflare-static/email-decode.min.js"></script><script src="assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- jquery-ui -->
        <script src="~/template/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
        <!-- Bootstrap js -->
        <script src="~/template/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- lobipanel js -->
        <script src="~/template/assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
        <!-- animsition js -->
        <script src="~/template/assets/plugins/animsition/js/animsition.min.js" type="text/javascript"></script>
        <!-- bootsnav js -->
        <script src="~/template/assets/plugins/bootsnav/js/bootsnav.min.js" type="text/javascript"></script>
        <!-- SlimScroll js -->
        <script src="~/template/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <!-- FastClick js-->
        <script src="~/template/assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <!-- End Core Plugins
        =====================================================================-->
        <!-- Start Page Lavel Plugins
        =====================================================================-->
        <!-- Toastr js -->
        <script src="~/template/assets/plugins/toastr/toastr.min.js" type="text/javascript"></script>
        <!-- Sparkline js -->
        <script src="~/template/assets/plugins/sparkline/sparkline.min.js" type="text/javascript"></script>
        <!-- Counterup js -->
        <script src="~/template/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="~/template/assets/plugins/counterup/waypoints.js" type="text/javascript"></script>
        <!-- Emojionearea -->
        <script src="~/template/assets/plugins/emojionearea/emojionearea.min.js" type="text/javascript"></script>
        <!-- Monthly js -->
        <script src="~/template/assets/plugins/monthly/monthly.min.js" type="text/javascript"></script>
        <!-- amchat js -->
        <script src="~/template/assets/plugins/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="~/template/assets/plugins/amcharts/ammap.js" type="text/javascript"></script>
        <script src="~/template/assets/plugins/amcharts/worldLow.js" type="text/javascript"></script>
        <script src="~/template/assets/plugins/amcharts/serial.js" type="text/javascript"></script>
        <!--<script src="assets/plugins/amcharts/export.min.js" type="text/javascript"></script>-->
        <script src="~/template/assets/plugins/amcharts/export.min.js" type="text/javascript"></script>
        <script src="~/template/assets/plugins/amcharts/light.js" type="text/javascript"></script>
        <script src="~/template/assets/plugins/amcharts/pie.js" type="text/javascript"></script>
        <!-- Start Theme label Script
        =====================================================================-->
        <!-- Dashboard js -->
        <script src="~/template/assets/dist/js/dashboard.js" type="text/javascript"></script>
        <!-- End Theme label Script
        =====================================================================-->
        <script>
            $(document).ready(function () {

                "use strict"; // Start of use strict

                // notification
                <!-- setTimeout(function () { -->
                    <!-- toastr.options = { -->
                        <!-- closeButton: true, -->
                        <!-- progressBar: true, -->
                        <!-- showMethod: 'slideDown', -->
                        <!-- timeOut: 4000 -->
                                <!-- // positionClass: "toast-top-left" -->
                    <!-- }; -->
                    <!-- toastr.success('Responsive Admin Template', 'Welcome to Adminpage'); -->

                <!-- }, 1300); -->

                //counter
                $('.count-number').counterUp({
                    delay: 10,
                    time: 5000
                });

                //Chat list
                $('.chat_list').slimScroll({
                    size: '3px',
                    height: '296px',
                    allowPageScroll: true,
                    railVisible: true
                });

                // Message
                $('.message_inner').slimScroll({
                    size: '3px',
                    height: '351px',
                    allowPageScroll: true,
                    railVisible: true
                            // position: 'left'
                });

                //emojionearea
                $(".emojionearea").emojioneArea({
                    pickerPosition: "top",
                    tonesStyle: "radio"
                });

                //monthly calender
                $('#m_calendar').monthly({
                    mode: 'event',
                    //jsonUrl: 'events.json',
                    //dataType: 'json'
                    xmlUrl: 'events.xml'
                });

                //Sparklines Charts
                $('.sparkline1').sparkline([4, 6, 7, 7, 4, 3, 2, 4, 6, 7, 4, 6, 7, 7, 4, 3, 2, 4, 6, 7, 7, 4, 3, 1, 5, 7, 6, 6, 5, 5, 4, 4, 3, 3, 4, 4, 5, 6, 7, 2, 3, 4], {
                    type: 'bar',
                    barColor: '#fff',
                    height: '40',
                    barWidth: '3',
                    barSpacing: 2
                });

                $(".sparkline2").sparkline([4, 6, 7, 7, 4, 3, 2, 1, 4, 4, 5, 6, 3, 4, 5, 8, 7, 6, 9, 3, 2, 4, 1, 5, 6, 4, 3, 7, 6, 8, 3, 2, 6], {
                    type: 'discrete',
                    lineColor: '#fff',
                    width: '200',
                    height: '40'
                });

                $(".sparkline3").sparkline([5, 6, 7, 2, 0, -4, -2, -3, -4, 4, 5, 6, 3, 2, 4, -6, -5, -4, 6, 5, 4, 3, 4, -3, -5, -4, 5, 4, 3, 6, -2, -3, -4, -5, 5, 6, 3, 4, 5], {
                    type: 'bar',
                    barColor: '#fff',
                    negBarColor: '#c6c6c6',
                    width: '200',
                    height: '40'
                });

                $(".sparkline4").sparkline([10, 34, 13, 33, 35, 24, 32, 24, 52, 35], {
                    type: 'line',
                    height: '40',
                    width: '100%',
                    lineColor: '#fff',
                    fillColor: 'rgba(255,255,255,0.1)'
                });

                $(".sparkline5").sparkline([32, 15, 22, 46, 33, 86, 54, 73, 53, 12, 53, 23, 65, 23, 63, 53, 42, 34, 56, 76, 15], {
                    type: 'line',
                    lineColor: '#558B2F',
                    fillColor: '#558B2F',
                    width: '100',
                    height: '20'
                });

                $(".sparkline6").sparkline([4, 6, 7, 7, 4, 3, 2, 1, 4, 4, 5, 6, 3, 4, 5, 8, 7, 6, 9, 3, 2, 4, 1, 5, 6, 4, 3, 7], {
                    type: 'discrete',
                    lineColor: '#558B2F',
                    width: '100',
                    height: '20'
                });

                $(".sparkline7").sparkline([5, 6, 7, 2, 0, -4, -2, 4, 5, 6, 3, 2, 4, -6, -5, -4, 6, 5, 4, 3], {
                    type: 'bar',
                    barColor: '#558B2F',
                    negBarColor: '#c6c6c6',
                    width: '100',
                    height: '20'
                });

                //amchart
                var chart = AmCharts.makeChart("chartdiv", {
                    "type": "serial",
                    "theme": "light",
                    "dataDateFormat": "YYYY-MM-DD",
                    "precision": 2,
                    "valueAxes": [{
                            "id": "v1",
                            "title": "Sales",
                            "position": "left",
                            "autoGridCount": false,
                            "labelFunction": function (value) {
                                return "$" + Math.round(value) + "M";
                            }
                        }, {
                            "id": "v2",
                            "title": "Market Days",
                            "gridAlpha": 0,
                            "position": "right",
                            "autoGridCount": false
                        }],
                    "graphs": [{
                            "id": "g3",
                            "valueAxis": "v1",
                            "lineColor": "#e1ede9",
                            "fillColors": "#e1ede9",
                            "fillAlphas": 1,
                            "type": "column",
                            "title": "Actual Sales",
                            "valueField": "sales2",
                            "clustered": false,
                            "columnWidth": 0.5,
                            "legendValueText": "$[[value]]M",
                            "balloonText": "[[title]]<br /><b style='font-size: 130%'>$[[value]]M</b>"
                        }, {
                            "id": "g4",
                            "valueAxis": "v1",
                            "lineColor": "#558B2F",
                            "fillColors": "#558B2F",
                            "fillAlphas": 1,
                            "type": "column",
                            "title": "Target Sales",
                            "valueField": "sales1",
                            "clustered": false,
                            "columnWidth": 0.3,
                            "legendValueText": "$[[value]]M",
                            "balloonText": "[[title]]<br /><b style='font-size: 130%'>$[[value]]M</b>"
                        }, {
                            "id": "g1",
                            "valueAxis": "v2",
                            "bullet": "round",
                            "bulletBorderAlpha": 1,
                            "bulletColor": "#FFFFFF",
                            "bulletSize": 5,
                            "hideBulletsCount": 50,
                            "lineThickness": 2,
                            "lineColor": "#20acd4",
                            "type": "smoothedLine",
                            "title": "Market Days",
                            "useLineColorForBulletBorder": true,
                            "valueField": "market1",
                            "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
                        }, {
                            "id": "g2",
                            "valueAxis": "v2",
                            "bullet": "round",
                            "bulletBorderAlpha": 1,
                            "bulletColor": "#FFFFFF",
                            "bulletSize": 5,
                            "hideBulletsCount": 50,
                            "lineThickness": 2,
                            "lineColor": "#E5343D",
                            "type": "smoothedLine",
                            "dashLength": 5,
                            "title": "Market Days ALL",
                            "useLineColorForBulletBorder": true,
                            "valueField": "market2",
                            "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
                        }],
                    "chartScrollbar": {
                        "graph": "g1",
                        "oppositeAxis": false,
                        "offset": 30,
                        "scrollbarHeight": 50,
                        "backgroundAlpha": 0,
                        "selectedBackgroundAlpha": 0.9,
                        "selectedBackgroundColor": "#ffffff",
                        "graphFillAlpha": 0,
                        "graphLineAlpha": 0.5,
                        "selectedGraphFillAlpha": 0,
                        "selectedGraphLineAlpha": 1,
                        "autoGridCount": true,
                        "color": "#AAAAAA"
                    },
                    "chartCursor": {
                        "pan": true,
                        "valueLineEnabled": true,
                        "valueLineBalloonEnabled": true,
                        "cursorAlpha": 0,
                        "valueLineAlpha": 0.2
                    },
                    "categoryField": "date",
                    "categoryAxis": {
                        "parseDates": true,
                        "dashLength": 1,
                        "minorGridEnabled": true
                    },
                    "legend": {
                        "useGraphSettings": true,
                        "position": "top"
                    },
                    "balloon": {
                        "borderThickness": 1,
                        "shadowAlpha": 0
                    },
                    "export": {
                        "enabled": true
                    },
                    "dataProvider": [{
                            "date": "2013-01-16",
                            "market1": 71,
                            "market2": 75,
                            "sales1": 5,
                            "sales2": 8
                        }, {
                            "date": "2013-01-17",
                            "market1": 74,
                            "market2": 78,
                            "sales1": 4,
                            "sales2": 6
                        }, {
                            "date": "2013-01-18",
                            "market1": 78,
                            "market2": 88,
                            "sales1": 5,
                            "sales2": 2
                        }, {
                            "date": "2013-01-19",
                            "market1": 85,
                            "market2": 89,
                            "sales1": 8,
                            "sales2": 9
                        }, {
                            "date": "2013-01-20",
                            "market1": 82,
                            "market2": 89,
                            "sales1": 9,
                            "sales2": 6
                        }, {
                            "date": "2013-01-21",
                            "market1": 83,
                            "market2": 85,
                            "sales1": 3,
                            "sales2": 5
                        }, {
                            "date": "2013-01-22",
                            "market1": 88,
                            "market2": 92,
                            "sales1": 5,
                            "sales2": 7
                        }, {
                            "date": "2013-01-23",
                            "market1": 85,
                            "market2": 90,
                            "sales1": 7,
                            "sales2": 6
                        }, {
                            "date": "2013-01-24",
                            "market1": 85,
                            "market2": 91,
                            "sales1": 9,
                            "sales2": 5
                        }, {
                            "date": "2013-01-25",
                            "market1": 80,
                            "market2": 84,
                            "sales1": 5,
                            "sales2": 8
                        }, {
                            "date": "2013-01-26",
                            "market1": 87,
                            "market2": 92,
                            "sales1": 4,
                            "sales2": 8
                        }, {
                            "date": "2013-01-27",
                            "market1": 84,
                            "market2": 87,
                            "sales1": 3,
                            "sales2": 4
                        }, {
                            "date": "2013-01-28",
                            "market1": 83,
                            "market2": 88,
                            "sales1": 5,
                            "sales2": 7
                        }, {
                            "date": "2013-01-29",
                            "market1": 84,
                            "market2": 87,
                            "sales1": 5,
                            "sales2": 8
                        }, {
                            "date": "2013-01-30",
                            "market1": 81,
                            "market2": 85,
                            "sales1": 4,
                            "sales2": 7
                        }]
                });

                var chartData = [{
                        "date": "2017-01-01",
                        "distance": 250,
                        "townName": "Dhaka",
                        "townName2": "Dhaka",
                        "townSize": 25,
                        "latitude": 40.71,
                        "duration": 408
                    }, {
                        "date": "2017-01-02",
                        "distance": 371,
                        "townName": "Chittagong",
                        "townSize": 14,
                        "latitude": 38.89,
                        "duration": 482
                    }, {
                        "date": "2017-01-03",
                        "distance": 433,
                        "townName": "Comilla",
                        "townSize": 6,
                        "latitude": 34.22,
                        "duration": 562
                    }, {
                        "date": "2017-01-04",
                        "distance": 345,
                        "townName": "Jacksonville",
                        "townSize": 7,
                        "latitude": 30.35,
                        "duration": 379
                    }, {
                        "date": "2017-01-05",
                        "distance": 480,
                        "townName": "Noakhali",
                        "townName2": "Noakhali",
                        "townSize": 10,
                        "latitude": 25.83,
                        "duration": 501
                    }, {
                        "date": "2017-01-06",
                        "distance": 386,
                        "townName": "Chadpur",
                        "townSize": 7,
                        "latitude": 30.46,
                        "duration": 443
                    }, {
                        "date": "2017-01-07",
                        "distance": 348,
                        "townName": "Borishal",
                        "townSize": 10,
                        "latitude": 29.94,
                        "duration": 405
                    }, {
                        "date": "2017-01-08",
                        "distance": 238,
                        "townName": "Feni",
                        "townName2": "Feni",
                        "townSize": 16,
                        "latitude": 29.76,
                        "duration": 309
                    }, {
                        "date": "2017-01-09",
                        "distance": 218,
                        "townName": "Dalas",
                        "townSize": 17,
                        "latitude": 32.8,
                        "duration": 287
                    }, {
                        "date": "2017-01-10",
                        "distance": 349,
                        "townName": "Oklahoma City",
                        "townSize": 11,
                        "latitude": 35.49,
                        "duration": 485
                    }, {
                        "date": "2017-01-11",
                        "distance": 603,
                        "townName": "Kansas City",
                        "townSize": 10,
                        "latitude": 39.1,
                        "duration": 890
                    }, {
                        "date": "2017-01-12",
                        "distance": 534,
                        "townName": "Rangamati",
                        "townName2": "Rangamati",
                        "townSize": 18,
                        "latitude": 39.74,
                        "duration": 810
                    }, {
                        "date": "2017-01-13",
                        "townName": "Salt Lake City",
                        "townSize": 12,
                        "distance": 425,
                        "duration": 670,
                        "latitude": 40.75,
                        "alpha": 0.4
                    }, {
                        "date": "2017-01-14",
                        "latitude": 36.1,
                        "duration": 470,
                        "townName": "Las Vegas",
                        "townName2": "Las Vegas",
                        "bulletClass": "lastBullet"
                    }, {
                        "date": "2017-01-15"
                    }, {
                        "date": "2017-01-16"
                    }
                ];
                var chart = AmCharts.makeChart("chartdiv2", {
                    "type": "serial",
                    "theme": "light",

                    "dataDateFormat": "YYYY-MM-DD",
                    "dataProvider": chartData,

                    "addClassNames": true,
                    "startDuration": 1,
                    //"color": "#FFFFFF",
                    "marginLeft": 0,

                    "categoryField": "date",
                    "categoryAxis": {
                        "parseDates": true,
                        "minPeriod": "DD",
                        "autoGridCount": false,
                        "gridCount": 50,
                        "gridAlpha": 0.1,
                        "gridColor": "#FFFFFF",
                        "axisColor": "#555555",
                        "dateFormats": [{
                                "period": 'DD',
                                "format": 'DD'
                            }, {
                                "period": 'WW',
                                "format": 'MMM DD'
                            }, {
                                "period": 'MM',
                                "format": 'MMM'
                            }, {
                                "period": 'YYYY',
                                "format": 'YYYY'
                            }]
                    },

                    "valueAxes": [{
                            "id": "a1",
                            "title": "distance",
                            "gridAlpha": 0,
                            "axisAlpha": 0
                        }, {
                            "id": "a2",
                            "position": "right",
                            "gridAlpha": 0,
                            "axisAlpha": 0,
                            "labelsEnabled": false
                        }, {
                            "id": "a3",
                            "title": "duration",
                            "position": "right",
                            "gridAlpha": 0,
                            "axisAlpha": 0,
                            "inside": true,
                            "duration": "mm",
                            "durationUnits": {
                                "DD": "d. ",
                                "hh": "h ",
                                "mm": "min",
                                "ss": ""
                            }
                        }],
                    "graphs": [{
                            "id": "g1",
                            "valueField": "distance",
                            "title": "distance",
                            "type": "column",
                            "fillAlphas": 0.9,
                            "valueAxis": "a1",
                            "balloonText": "[[value]] miles",
                            "legendValueText": "[[value]] mi",
                            "legendPeriodValueText": "total: [[value.sum]] mi",
                            "lineColor": "#263238",
                            "alphaField": "alpha"
                        }, {
                            "id": "g2",
                            "valueField": "latitude",
                            "classNameField": "bulletClass",
                            "title": "latitude/city",
                            "type": "line",
                            "valueAxis": "a2",
                            "lineColor": "#558B2F",
                            "lineThickness": 1,
                            "legendValueText": "[[value]]/[[description]]",
                            "descriptionField": "townName",
                            "bullet": "round",
                            "bulletSizeField": "townSize",
                            "bulletBorderColor": "#558B2F",
                            "bulletBorderAlpha": 1,
                            "bulletBorderThickness": 2,
                            "bulletColor": "#558B2F",
                            "labelText": "[[townName2]]",
                            "labelPosition": "right",
                            "balloonText": "latitude:[[value]]",
                            "showBalloon": true,
                            "animationPlayed": true
                        }, {
                            "id": "g3",
                            "title": "duration",
                            "valueField": "duration",
                            "type": "line",
                            "valueAxis": "a3",
                            "lineColor": "#E5343D",
                            "balloonText": "[[value]]",
                            "lineThickness": 1,
                            "legendValueText": "[[value]]",
                            "bullet": "square",
                            "bulletBorderColor": "#E5343D",
                            "bulletBorderThickness": 1,
                            "bulletBorderAlpha": 1,
                            "dashLengthField": "dashLength",
                            "animationPlayed": true
                        }],

                    "chartCursor": {
                        "zoomable": false,
                        "categoryBalloonDateFormat": "DD",
                        "cursorAlpha": 0,
                        "valueBalloonsEnabled": false
                    },
                    "legend": {
                        "bulletType": "round",
                        "equalWidths": false,
                        "valueWidth": 120,
                        "useGraphSettings": true
                                //"color": "#FFFFFF"
                    }
                });

                /**
                 * SVG path for target icon
                 */
                var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";

                /**
                 * SVG path for plane icon
                 */
                var planeSVG = "m2,106h28l24,30h72l-44,-133h35l80,132h98c21,0 21,34 0,34l-98,0 -80,134h-35l43,-133h-71l-24,30h-28l15,-47";

                /**
                 * Create the map
                 */
                var map = AmCharts.makeChart("chartMap", {
                    "type": "map",
                    "theme": "light",

                    "projection": "winkel3",
                    "dataProvider": {
                        "map": "worldLow",

                        "lines": [{
                                "id": "line1",
                                "arc": -0.85,
                                "alpha": 0.3,
                                "latitudes": [23.684994, 48.8567, 43.8163, 34.3, 23, 61.524010, 20.593684, 33.223191],
                                "longitudes": [90.356331, 2.3510, -79.4287, -118.15, -82, 105.318756, 78.962880, 43.679291]
                            }, {
                                "id": "line2",
                                "alpha": 0,
                                "color": "#E5343D",
                                "latitudes": [23.684994, 48.8567, 43.8163, 34.3, 23, 61.524010, 20.593684, 33.223191],
                                "longitudes": [90.356331, 2.3510, -79.4287, -118.15, -82, 105.318756, 78.962880, 43.679291]
                            }],
                        "images": [{
                                "svgPath": targetSVG,
                                "title": "Bangladesh",
                                "latitude": 23.684994,
                                "longitude": 90.356331
                            }, {
                                "svgPath": targetSVG,
                                "title": "Paris",
                                "latitude": 48.8567,
                                "longitude": 2.3510
                            }, {
                                "svgPath": targetSVG,
                                "title": "Toronto",
                                "latitude": 43.8163,
                                "longitude": -79.4287
                            }, {
                                "svgPath": targetSVG,
                                "title": "Los Angeles",
                                "latitude": 34.3,
                                "longitude": -118.15
                            }, {
                                "svgPath": targetSVG,
                                "title": "Havana",
                                "latitude": 23,
                                "longitude": -82
                            }, {}, {
                                "svgPath": targetSVG,
                                "title": "Russia",
                                "latitude": 61.524010,
                                "longitude": 105.318756
                            }, {}, {
                                "svgPath": targetSVG,
                                "title": "India",
                                "latitude": 20.593684,
                                "longitude": 78.962880
                            }, {}, {
                                "svgPath": targetSVG,
                                "title": "Iraq",
                                "latitude": 33.223191,
                                "longitude": 43.679291
                            }, {
                                "svgPath": planeSVG,
                                "positionOnLine": 0,
                                "color": "#000000",
                                "alpha": 0.1,
                                "animateAlongLine": true,
                                "lineId": "line2",
                                "flipDirection": true,
                                "loop": true,
                                "scale": 0.03,
                                "positionScale": 1.3
                            }, {
                                "svgPath": planeSVG,
                                "positionOnLine": 0,
                                "color": "#585869",
                                "animateAlongLine": true,
                                "lineId": "line1",
                                "flipDirection": true,
                                "loop": true,
                                "scale": 0.03,
                                "positionScale": 1.8
                            }]
                    },

                    "areasSettings": {
                        "unlistedAreasColor": "#5b69bc"
                    },

                    "imagesSettings": {
                        "color": "#E5343D",
                        "rollOverColor": "#E5343D",
                        "selectedColor": "#E5343D",
                        "pauseDuration": 0.2,
                        "animationDuration": 4,
                        "adjustAnimationSpeed": true
                    },

                    "linesSettings": {
                        "color": "#E5343D",
                        "alpha": 0.4
                    },

                    "export": {
                        "enabled": true
                    }

                });

                var chart = AmCharts.makeChart("chartPie", {
                    "type": "pie",
                    //                    "theme": "light",
                    "addClassNames": true,
                    "classNameField": "class",
                    "dataProvider": [{
                            "value": 4852,
                            "class": "color1"
                        }, {
                            "value": 9899,
                            "class": "color2"
                        }, {
                            "value": 7789,
                            "class": "color3"
                        }],
                    "valueField": "value",
                    "labelRadius": 5,

                    "radius": "42%",
                    "innerRadius": "60%",
                    "labelText": "[[title]]",
                    "export": {
                        "enabled": true
                    }
                });

            });
        </script>
    </body>

</html>